*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints
*.DS_Store
setup.py-e

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache
.tox

docs/_build
docs/apidocs

# ide
.idea
.eclipse
.vscode

**/.project
**/.pydevproject
**/.settings

PrivateRules.mak
