[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# numpy and pytango versions must match those in the ska-python-builder image,
# otherwise pytango will be recompiled.
numpy = "==1.15.4"
# If you want to debug devices running in containers, add pydevd to the dependencies
#pydevd = "*"

marshmallow = ">=3.0.0rc7"
astropy = "*"


[dev-packages]
docutils = "*"
MarkupSafe = "*"
Pygments = "*"
pycodestyle = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-pylint = "*"
pytest-json-report = "*"
python-dotenv = ">=0.5.1"
ptvsd = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
sphinx-autobuild = "*"
sphinxcontrib-websupport = "*"


[requires]
python_version = "3"

[pipenv]
allow_prereleases = true